.panel-group-container .panel-group .card-panel-col {
    margin-bottom: 20px;
}
.panel-group-container .panel-group .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
}
.panel-group-container .panel-group .card-panel:hover .card-panel-icon-wrapper {
    background: #ccc;
}
.panel-group-container .panel-group .card-panel .card-panel-icon-wrapper {
    float: left;
    margin: 14px 0 0 14px;
    padding: 16px;
    transition: all 0.38s ease-out;
    border-radius: 6px;
}
.panel-group-container .panel-group .card-panel .card-panel-icon {
    float: left;
    font-size: 48px;
}
.panel-group-container .panel-group .card-panel .card-panel-description {
    text-align: center;
    font-weight: bold;
    margin: 26px;
    margin-left: 0px;
}
.panel-group-container .panel-group .card-panel .card-panel-description .card-panel-text {
    line-height: 18px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    margin-bottom: 12px;
}
.panel-group-container .panel-group .card-panel .card-panel-description .card-panel-num {
    font-size: 20px;
}
